html
  head
      link(href='https://fonts.googleapis.com/css?family=Alegreya:400,700,900', rel='stylesheet', type='text/css')
      link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
      script(src='//cdn.opencpu.org/opencpu-0.4.js')
      script(src='/highcharts/highstock.js')
      script(src='/highcharts/highcharts-more.js')
      script(src='http://code.highcharts.com/stock/modules/exporting.js')
      script(src='//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js')
      script(src='/charts/stock.js')
  body
   header.banner
     h1 Richard Wen
     p UCLA CS Major Class of 2019
        ul.topnav
          li
            a(href='/') Home
          li
            a(href='/images/RichardWen_Resume.docx' download) CV
          li
            a(href='/About') Stock Charts Project
    section
        h3 AAPL Stock 1998 - 2011
           #container(style='height: 500px; min-width: 310px')
    footer
      h2 Contact
      u E-mail:
      b &nbsp richardwen01@gmail.com &nbsp
      u Phone Number:
      b &nbsp 425-466-0042